{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Результаты</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/view.css" %}">
</head>
<body>


<div id="top-bar">
    <div id="top-bar-section">

            {% if username %}
                <p><a href="{% url 'logout' %}">Выйти ({{ username }})</a></p>
            {% else %}
                <p><a href="{% url 'openlogin' %}?next={{request.path}}">Войти</a></p>
            {% endif %}

    </div>
</div>



<p><h2><a href="{% url 'xindex' %}">Home</a></h2></p>
<br><br>
<hr>

{% if not username %}
    <div id="load">
<centre>Сапсибо, что с нами ! <br> Регистрируйтесь либо проходите по ссылке "Home"</centre>
    </div>
{% endif %}
{% block welcome %}{% endblock %}

{% block result %}{% endblock %}

{% block result2 %}{% endblock %}

{% block swiss %}{% endblock %}

{% block swiss_result %}{% endblock %}

{% block finish_play %}{% endblock %}

{% block login %}{% endblock %}

<br><br>
{% if username %}
<center><p><a href="{% url 'xelo' %}">Рейтинги ФИДЕ</a></p></center>
<center><p><a href="{% url 'xswiss' %}">Швейцарская система</a></p></center>
{% endif %}

</body>
</html>